@import '../../Scss/utils/mixin';
@import '../../Scss/utils/variable.scss';
.navbar {
    background-color: $color-beige;
    display: flex;
    justify-content: center;
    @include media-max(1024px) {
        height: 85px;
    }
    @include media-max(425px) {
    }
}
.navlogo {
    width: 25%;
    padding-left: 50px;
    padding-right: 5%;
    @include media-max(425px) {
        width: 30%;
        height: 60px;
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.navbar_link {
    font-family: $police;
    color: $rose;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    @include media-max(425px) {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }
}
.navbar_link:hover {
    color: black;
}
