@import '../../Scss/utils/mixin';
@import '../../Scss/utils/variable.scss';

.projet {
    background-color: $color-beige-clair;
    padding-bottom: 80px;
}
.title-projet {
    font-family: $police;
    font-size: 50px;
    color: $title-color;
    text-align: center;
    margin-top: 0px;
    padding-top: 30px;
    margin-bottom: 30px;
}
.deco-projet {
    width: 10%;
    border: 2px solid $rose;
    margin-left: 850px;
    @include media-max(1024px) {
        margin-left: 400px;
        width: 20%;
    }
}
.description-projet {
    margin-top: 30px;
    margin-bottom: 30px;
    color: $gris-clair;
    font-family: $police;
    text-align: center;
    font-size: 20px;
    @include media-max(425px) {
        width: 70%;
        margin-left: 70px;
        font-size: 18px;
    }
}
.containercards {
    background-color: $color-beige;
    border-radius: 40px;
    width: 75%;
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-left: 200px;
    @include media-max(1024px) {
        margin-left: 80px;
    }
    @include media-max(425px) {
        width: 70%;
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 45px;
        padding-right: 45px;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    @include media-max(1024px) {
        display: flex;
        flex-direction: column;
    }
    @include media-max(425px) {
        display: flex;
        align-items: center;
    }
}
.nowrap {
    white-space: nowrap;
}
