@import '../../Scss/utils/mixin';
@import '../../Scss/utils/variable.scss';

.contact {
    background-color: $color-beige-clair;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    @include media-max(425px) {
        overflow-x: hidden;
    }
}
.title {
    font-family: $police;
    color: $title-color;
    font-size: 50px;
}
.decocontact {
    width: 24%;
    border: 2px solid $rose;
}

.contactme {
    padding-top: 20px;
    font-family: $police;
    color: $gris-clair;
    font-size: 20px;
    @include media-max(1024px) {
        font-size: 18px;
        width: 70%;
        text-align: center;
    }
}
.linkcontact {
    display: flex;
    gap: 30px;
}
.linkmail {
    color: rgb(190, 128, 112);
}

.linkmail:hover {
    color: $rose;
}
