@import '../../Scss/utils/variable';
@import '../../Scss/utils/mixin';

.competence {
    background-color: $color-beige;
    width: 100%;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlecompetence {
    font-family: $police;
    color: $title-color;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    @include media-max(400px) {
        font-size: 38px;
    }
}

.decocompetence {
    border: 2px solid $rose;
    width: 30%;
    margin-bottom: 25px;
}
