.competence {
    background-color: #ede7df;
    width: 100%;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlecompetence {
    font-family: 'Montserrat', sans-serif;
    color: #6a676780;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
}
.decocompetence {
    border: 2px solid #d1a6a7;
    width: 30%;
    margin-bottom: 25px;
}
