@import '../../Scss/utils/mixin';
@import '../../Scss/utils/variable.scss';

.project {
    background-color: $color-beige-clair;
    height: 850px;
    @include media-max(899px) {
        height: 1300px;
    }
    @include media-max(599px) {
        height: 1300px;
        overflow-x: hidden;
    }
}

.titleproject {
    font-family: $police;
    font-size: 50px;
    color: $title-color;
    text-align: center;
    margin-top: 0px;
    padding-top: 30px;
    margin-bottom: 30px;
    @include media-max(425px) {
        text-align: center;
    }
}

.img-work {
    width: 35%;
    height: 25vw;
    border-radius: 40px;
    filter: drop-shadow(0px 3px 10px #d4acad);
    margin: 1% auto;
    @include media-max(899px) {
        width: 80%;
        height: 50vw;
        margin: 0 auto;
    }
    @include media-max(599px) {
        width: 80%;
        height: 50vw;
        margin: 0 auto;
    }
}
.containerwork {
    display: flex;
    align-items: center;
    font-family: $police;
    color: $gris-clair;
    font-size: 15px;
    width: 100%;
    @include media-max(899px) {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }
    @include media-max(599px) {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }
}
.containerdescription {
    padding-top: 50px;
    width: 40%;
    padding-right: 20px;
    @include media-max(899px) {
        width: 60%;
    }
    @include media-max(599px) {
        width: 85%;
        margin-left: 10px;
        padding-left: 10px;
        padding-top: 0px;
    }
}
.techno {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include media-max(400px) {
        justify-content: space-between;
    }
}
.tags {
    font-family: $police;
    color: $gris-clair;
    font-size: 18px;
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    gap: 5px 30px;
    @include media-max(599px) {
        padding-bottom: 40px;
    }
    @include media-max(400px) {
        grid-auto-flow: row;
    }
}
.tagsvalue {
    font-family: $police;
    color: $blanc;
    background-color: rgb(190, 128, 112);
    border-radius: 20px;
    text-align: center;
    margin-left: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 8px;
    padding-left: 10px;
    padding-bottom: 4px;
    padding-right: 10px;
}
.worklinkgit {
    display: flex;
    flex-direction: column-reverse;
    margin-right: 30px;
    @include media-max(400px) {
        margin: 0 auto;
    }
}
.worklink {
    text-decoration: none;
    font-family: $police;
    color: $rose;
    font-size: 20px;
    @include media-max(400px) {
        font-size: 18px;
    }
}

.worklink:hover {
    color: $gris-clair;
}
.linkgit {
    color: $rose;
    padding-left: 40px;
}
.linkgit:hover {
    color: $gris-clair;
}
.projetlink {
    text-decoration: none;
    font-family: $police;
    color: $rose;
    font-size: 20px;
    padding-left: 450px;
    @include media-max(599px) {
        padding-left: 100px;
        padding-bottom: 40px;
    }
}
.projetlink:hover {
    color: $gris-clair;
}
.trellolink {
    color: $rose;
    padding-left: 40px;
    @include media-max(599px) {
        padding-left: 0px;
    }
    @include media-max(400px) {
        padding-left: 40px;
    }
}
.trellolink:hover {
    color: $gris-clair;
}
