@import '../../Scss/utils/mixin';
.containerslider {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    .pictureslider {
        height: 500px;
        width: 100%;
        border-radius: 40px;
        object-fit: cover;
        @include media-max(1024px) {
            width: 90%;
            height: 400px;
        }
        @include media-max(425px) {
            width: 98%;
            height: 190px;
        }
    }

    .left {
        color: rgb(190, 128, 112);
        width: 50px;
        height: 80px;
        @include media-max(1024px) {
            width: 45px;
            height: 75px;
        }
        @include media-max(425px) {
            height: 30px;
            width: 30px;
        }
    }

    .right {
        color: rgb(190, 128, 112);
        width: 50px;
        height: 80px;
        @include media-max(1024px) {
            width: 45px;
            height: 75px;
        }
        @include media-max(425px) {
            height: 30px;
            width: 30px;
        }
    }
}
.containerchevron {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 215px;
    width: 65%;
    @include media-max(1580px) {
        margin-top: 225px;
        width: 75%;
    }
    @include media-max(1024px) {
        margin-top: 175px;
        width: 85%;
    }
    @include media-max(425px) {
        margin-top: 85px;
        width: 95%;
    }

    @include media-max(400px) {
        margin-top: 30px;
        width: 80%;
    }
}
