@import '../../Scss/utils/mixin';
@import '../../Scss/utils/variable.scss';
.errorpage {
    background-color: $color-beige-clair;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleerror {
    font-family: $police;
    font-size: 150px;
    color: $title-color;
    text-align: center;
    margin-top: 0px;
    padding-top: 30px;
    margin-bottom: 30px;
    padding-top: 90px;
    @include media-max(425px) {
        font-size: 80px;
    }
}
.messageerror {
    font-family: $police;
    text-align: center;
    color: $gris-clair;
    font-size: 30px;
    margin-bottom: 50px;
    @include media-max(425px) {
        font-size: 20px;
    }
}
.chaterror {
    font-family: $police;
    text-align: center;
    color: $gris-clair;
    font-size: 20px;
    margin-bottom: 100px;
    width: 50%;
    @include media-max(425px) {
        font-size: 18px;
    }
}
.vivi {
    width: 50%;
    border-radius: 50px;
    margin-bottom: 100px;
}
.linkaccueil {
    font-family: $police;
    color: $blanc;
    background-color: rgb(190, 128, 112);
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    margin-bottom: 100px;
}
.linkaccueil:hover {
    color: rgb(190, 128, 112);
    background-color: $blanc;
}
